---
fs3combat:
  default_type: Citizen
  allow_vehicles: false
  allow_mounts: true
  stances:
    Aggressive:
      attack_mod: 2
      defense_mod: -2
    Reckless:
      attack_mod: 4
      defense_mod: -4
    Normal:
      attack_mod: 0
      defense_mod: 0
    Defensive:
      attack_mod: -2
      defense_mod: 2
    Evasive:
      attack_mod: -4
      defense_mod: 4
    Cover:
      attack_mod: 0
      defense_mod: 0
    Hidden:
      attack_mod: 0
      defense_mod: 0
  combatant_types:
    Observer:
      hitloc: Humanoid
    Citizen:
      weapon: Revolver
      hitloc: Humanoid
      armor: Practical
      defense_skill: Reflexes
    Raider:
      weapon: Revolver
      hitloc: Humanoid
      armor: Practical
      defense_skill: Reflexes
    Quadruped:
      hitloc: Quadruped
      defense_skill: Reflexes
      weapon: Claws
      armor: Hide
    GourdyPlant:
      hitloc: GourdyPlant
      defense_skill: Reflexes
      weapon: Vines
      armor: Plant
    NILE Officer:
      weapon: Energy Rifle
      armor: NILE Armor
      hitloc: Humanoid
      defense_skill: Reflexes
    Unarmed:
      weapon: Unarmed
      hitloc: Humanoid
      defense_skill: Reflexes
    Target:
      hitloc: Target
      weapon: Unarmed
  shortcuts:
    combat/skill: combat/summary
    combat/skills: combat/summary
    combat/slackers: combat/summary
    combat/add: combat/join
    combat/remove: combat/leave
    combat/hitlocs: combat/hitloc
    vehicles: vehicle
    healing: heal/list
    weapons: weapon
    mounts: mount
    newturn: combat/newturn
    combat/drive: combat/pilot
  achievements:
    fs3_hero:
      type: combat
      message: Heroed from a knockout.
    fs3_joined_combat:
      type: combat
      message: Joined %{count} combats.
      levels:
      - 1
      - 10
      - 20
      - 50
      - 100
      - 200
      - 500
      - 1000
    fs3_wounded:
      type: combat
      message: Wounded %{count} times in combat.
      levels:
      - 1
      - 5
      - 10
      - 20
      - 50
      - 100
      - 150
      - 200
      - 250
      - 500
    fs3_hard_hitter:
      type: combat
      message: Inflicted critical damage on an opponent in combat.
    fs3_explosive_hit:
      type: combat
      message: Did damage with an explosive weapon.
    fs3_melee_hit:
      type: combat
      message: Did damage with a melee weapon.
    fs3_ranged_hit:
      type: combat
      message: Did damage with a ranged weapon.
    fs3_suppressed:
      type: combat
      message: Suppressed a target in combat.
    fs3_subdued:
      type: combat
      message: Subdued a target in combat.
    fs3_distracted:
      type: combat
      message: Distracted a target in combat.
    fs3_rallied:
      type: combat
      message: Rallied someone in combat.
    fs3_treated:
      type: combat
      message: Treated someone in combat.
  permissions:
    manage_combat: Control combats that you didn't organize.
