/* Put any custom styles here.  They will override the default styles. */

/* Site Header Formatting */

.header-wrap {
	height: 300px;
}

.title-wrap {
	height: 240px;
}

@media screen and (max-width: 991px) {
	.title-wrap {
		height: 148px!important;
	}
	.header-wrap {
		height: 200px!important;
	}
}

.site-title {
  font-size: 4em;
  letter-spacing: 0.1em;
  border-top: 0;
  border-bottom: 0; 
  text-shadow: 2px 2px #090909;
}

.site-subtitle {
    text-transform: uppercase;  
    font-family: $primary-font;
    font-size: 1.3em;
    word-spacing: 5px;
    letter-spacing: 2px;
    left: 10%;
    bottom: 10%;
    position: relative; 
}
.site-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*@media screen and (max-width: 600px) {
	.site-title {
		border: 0;
		font-size: 3em;
		text-align: center;
	}
	.site-subtitle {
		font-size: 1.2em;
		text-align: center;
	}
	.title-wrap {
		background-color: rgba(0, 0, 0, 0.25)!important;
	}
	.account-actions {
		display: none;
	}
}*/

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: .9em
}

@media screen and (max-width: 991px) {
	.navbar > .container-fluid {
		width: 100%;
		flex-flow: column;
		align-items: start;
	}
	.navbar-collapse {
		max-width: 320px;
		width: 100%;
	}
	.navbar {
		max-height: 52px;
	}
}

.dropdown-menu {
  //background-color: #0c1119;
  //background-image: url("/game/uploads/theme_files/rust-texture_50opac.png");
  //background-repeat: no-repeat;
  //background-position: top right;
  //background-size: 200px;
  //color: #ebebeb;
  text-transform: none;
  letter-spacing: normal; }

.dropdown-item {
  font-size: 1.15em;
}

/* Wiki Page */
.toc {
  color:#090909; 
  position: relative;
  border-radius: 0;
  margin-left: 100px;
  margin-right: 25px;
  float: right;
  width: 400px;
  background-color: #d6bc9b;
//  box-shadow:
    /* The top layer shadow */
//    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
//    0 10px 0 -5px #b29877,
    /* The second layer shadow */
//    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
//    0 20px 0 -10px #b29877,
    /* The third layer shadow */
//    0 20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
  padding: 30px;
}

.toc,
.toc::before,
.toc::after {
  /* Styles to distinguish sheets from one another */
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
}

.toc::before,
.toc::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: #b29877;
}

.toc::before {
  right: 15px;
  top: 0;
  transform: rotate(-1deg);
  z-index: -1;
}

.toc::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
}

/* General HTML Elements */ 

.body-wrap {
	padding: 0 1rem;
	display: grid;
	grid-template-columns: minmax(70%, 75%) auto;
}

@media screen and (min-width: 1470px) {
	body {
		font-size: 1em;
	}
}

@media screen and (max-width: 600px) {
	.body-wrap,
	.body-container {
		padding: 0px;
	}
}

h1
{
    background-color: $primary-color;
    padding: .1em 1.2em;
    color: $primary-words-color;
    font-weight: normal;
    border: 3px solid $primary-outline-color;
    letter-spacing: 0.1em;    
    margin: 0px 0px 10px 0px;
    font-family: $header-font;
    text-transform: uppercase;
}

h2
{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: $header-font;    
}

body {
  font-size: 1.15em;
}

.body-container {
  z-index: 1; }

.left-body {
  z-index: 1; }

/* Sidebar */
.sidebar-heading h2 {
  font-size: 2em;
  font-family: $primary-font;
  background-color: $primary-color;
  color: #FFFFFF;
  padding: 10px;
  width: auto;
  border-bottom: 0px; 
}

.sidebar-heading .fa-video, .fa-users, .fa-calendar, .fa-book, .fa-comments, .fa-file-alt {
  font-size: .8em;
  padding: 0.3em;
}


.right-sidebar {
  background-color: #d6bc9b; 
  padding: 30px;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #d6bc9b,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #d6bc9b,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
  //padding: 30px;
  min-width: 450px;
}

@media screen and (max-width: 1400px) {
	.sidebar {
		min-width: unset;
		width: 100%;
	}
}


/*.right-sidebar,
.right-sidebar::before,
.right-sidebar::after {

  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
}

.right-sidebar::before,
.right-sidebar::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 120%;
  background-color: #b59b7b;
}

.right-sidebar::before {
  right: 15px;
  top: 0;
  transform: rotate(-3deg);
  z-index: -1;
}

.right-sidebar::after {
  top: 5px;
  right: -5px;
  transform: rotate(3deg);
  z-index: -2;
} */

.sidebar-box-right {
    border-left: none;
    padding-left: 10px;
    color:#090909; 
}

.sidebar-box-right p {
        line-height: 1.6;
        margin: 0 0 10px;
}

.sidebar-box {
    border-top: none;
    margin: 2px;
    font-size: .9em;
}
