/* Put any custom styles here.  They will override the default styles. */

/* Site Header Formatting */
.site-title {
  font-size: 4em;
}

.site-subtitle {
    text-transform: uppercase;  
    font-family: $primary-font;
    font-size: 1.3em;
    word-spacing: 5px;
    letter-spacing: 2px;
    left: 10%;
    position: relative; 
}
.site-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: .9em
}

.dropdown-menu {
  //background-color: #0c1119;
  //background-image: url("/game/uploads/theme_files/rust-texture_50opac.png");
  //background-repeat: no-repeat;
  //background-position: top right;
  //background-size: 200px;
  //color: #ebebeb;
  text-transform: none;
  letter-spacing: normal; }

.dropdown-item {
  font-size: 2em;
}

/* Wiki Page */
.toc {
  position: relative;
  border-radius: 0;
  margin-left: 100px;
  margin-right: 25px;
  float: right;
  width: 400px;
  transform: rotate(-1deg); }

/* General HTML Elements */ 
h1
{
    background-color: $primary-color;
    padding: .1em 1.2em;
    color: $primary-words-color;
    font-weight: normal;
    border: 3px solid $primary-outline-color;
    letter-spacing: 0.1em;    
    margin: 0px 0px 10px 0px;
    font-family: $header-font;
}

h2
{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: $header-font;    
}

body {
  font-size: 1.15em;
}

/* Sidebar */
.sidebar-heading h2 {
  font-size: 2em;
  font-family: $primary-font;
}

.sidebar-heading .fa-video, .fa-users, .fa-calendar, .fa-book, .fa-comments, .fa-file-alt {
  font-size: .8em;
  padding: 0.3em;
}