/* Put any custom styles here.  They will override the default styles. */

/* Site Header Formatting */

.header-wrap {
	height: 300px;
}

.title-wrap {
	height: 240px;
  background-color: unset;
}

@media screen and (max-width: 991px) {
	.title-wrap {
		height: 148px!important;
	}
	.header-wrap {
		height: 200px!important;
	}
}

@media screen and (max-width: 1400px) {
	.site-title {
		font-size: 3em;
		max-height: unset;
	}
}

@media screen and (max-width: 600px) {
	.site-title {
		border: 0;
		font-size: 3em;
		text-align: center;
	}
	.site-subtitle {
		font-size: 1.2em;
		text-align: center;
    left: unset;
	}
	.title-wrap {
		background-color: rgba(0, 0, 0, 0.25)!important;
	}
	.account-actions {
		display: none;
	}
}

.site-title {
  font-size: 4em;
  letter-spacing: 0.1em;
  border-top: 0;
  border-bottom: 0; 
  text-shadow: 2px 2px #090909;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-subtitle {
  text-transform: uppercase;  
  font-family: $primary-font;
  font-size: 1.3em;
  word-spacing: 5px;
  letter-spacing: 2px;
  left: 10%;
  bottom: 10%;
  position: relative; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: .9em
}

@media screen and (max-width: 600px) {
	.header-wrap {
		background-position: center bottom;
	}

	.site-banner {
		flex-direction: column;
	}
}

@media screen and (max-width: 991px) {
	.navbar > .container-fluid {
		width: 100%;
		flex-flow: column;
		align-items: start;
	}
	.navbar-collapse {
		max-width: 320px;
		width: 100%;
	}
	.navbar {
		max-height: 52px;
	}
}

@media (max-width: 1400px) {
	.navbar-collapse {
		background-color: inherit;
	}
}

.dropdown-menu {
  //background-color: #0c1119;
  //background-image: url("/game/uploads/theme_files/rust-texture_50opac.png");
  //background-repeat: no-repeat;
  //background-position: top right;
  //background-size: 200px;
  //color: #ebebeb;
  text-transform: none;
  letter-spacing: normal; }

.dropdown-item {
  font-size: 1em;
}

/* Front Page */

.jumbotron img {
  width: 550px;
  margin: 15px; }

.jumbotron-tagline {
  font-size: 1.8em;
  margin: 15px;
  font-family: $header-font;
  word-spacing: 3px; }

.jumbotron .splash {
  width: 90%;
  font-size: .65em;
}

.jumbotron p {
  font-size: 1em;
  text-align: left;
  font-weight: 400;
}

/* Wiki Page */
.toc {
  color:#3c3932; 
  position: relative;
  border-radius: 0;
  margin-left: 100px;
  margin-right: 25px;
  float: right;
  width: 400px;
  background-color: #ffe8cf;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15);
    /* The second layer */
//    0 10px 0 -5px #b29877,
    /* The second layer shadow */
//    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
//    0 20px 0 -10px #b29877,
    /* The third layer shadow */
//    0 20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
  padding: 30px;
  background-image: url("/game/uploads/theme_images/paper_tex.png");
}

.toc h4 {
  font-family: $header-font;
  word-spacing: 10px;
  font-size: 2em;
  }

.toc a {
  color: #660d0e;
  }

.toc ul {
  width: 100%;
  height: fit-content;
  background: repeating-linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 23px, rgba(156, 156, 156, .5) 24px, rgba(156, 156, 156, .5) 25px);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.toc,
.toc::before,
.toc::after {
  /* Styles to distinguish sheets from one another */
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
}

.toc::before {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: #b7cebe;
  right: 15px;
  top: 0;
  transform: rotate(-1deg);
  z-index: -1;
  background-image: url("/game/uploads/theme_images/paper_tex.png");
}

.toc::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: #fc91a1;
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
  background-image: url("/game/uploads/theme_images/paper_tex.png");
}

/* General HTML Elements */ 

.body-wrap {
	padding: 0 1rem;
	display: grid;
	grid-template-columns: minmax(70%, 75%) auto;
}

@media screen and (min-width: 1470px) {
	body {
		font-size: 1em;
	}
}

@media screen and (max-width: 600px) {
	.body-wrap,
	.body-container {
		padding: 0px;
	}
}

h1
{
  background-color: $primary-color;
  background-image: url(/game/uploads/theme_images/header-left.png), url(/game/uploads/theme_images/header-right.png), url(/game/uploads/theme_images/header-top.png),url(/game/uploads/theme_images/header-bottom.png);
  background-size: contain, contain, contain, contain;
  background-repeat: no-repeat;
  background-position: left, right, top, bottom;
  border-image: url(/game/uploads/theme_images/header-top.png) 100% 0 0 0;
  border: transparent;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: .1em 1.2em;
  color: $primary-words-color;
  font-weight: normal;
  letter-spacing: 0.1em;    
  margin: 0px 0px 10px 0px;
  font-family: $primary-font;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3em;
  width: fit-content; 
}

h2
{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: $header-font;    
}

body {
  font-size: 1em;
}

.body-container {
  z-index: 1; }

.left-body {
  z-index: 1; }

/* Sidebar */
.sidebar-heading h2 {
  font-size: 2em;
  font-family: $primary-font;
  background-color: $primary-color;
  color: #FFFFFF;
  padding: 10px;
  width: auto;
  border-bottom: 0px; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/game/uploads/theme_images/stamp-tex.png");
}

.sidebar-heading .fa-video, .fa-users, .fa-calendar, .fa-book, .fa-comments, .fa-file-alt {
  font-size: .8em;
  padding: 0.3em;
}


.right-sidebar {
  background-color: #ffe8cf; 
  padding: 30px;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #d6bc9b,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #d6bc9b,
    /* The third layer shadow */
    0 -20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
  //padding: 30px;
  min-width: 450px;
  background-image: url("/game/uploads/theme_images/paper_tex.png");
}

@media screen and (max-width: 1400px) {
	.sidebar {
		min-width: unset;
		width: 100%;
	}
  .right-sidebar {
    min-width: unset;
		width: auto;
  }
}


/*.right-sidebar,
.right-sidebar::before,
.right-sidebar::after {

  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
}

.right-sidebar::before,
.right-sidebar::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 120%;
  background-color: #b59b7b;
}

.right-sidebar::before {
  right: 15px;
  top: 0;
  transform: rotate(-3deg);
  z-index: -1;
}

.right-sidebar::after {
  top: 5px;
  right: -5px;
  transform: rotate(3deg);
  z-index: -2;
} */

.sidebar-box-right {
    border-left: none;
    padding-left: 10px;
    color:#090909; 
    font-family: $body-font;
}

.sidebar-box-right p {
        line-height: 1.6;
        margin: 0 0 10px;
}

.sidebar-box-right a {
  color: #660d0e;
}

.sidebar-box {
    border-top: none;
    margin: 2px;
    font-size: .9em;
}

/* Grid Flexibility */
@media screen and (max-width: 1000px) {
	.body-wrap,
	.fs3-sheet {
		grid-template-columns: 100%;
	}
}