/* Put any custom styles here.  They will override the default styles. */

/* Page */
.toc {
  position: relative;
  border-radius: 0;
  margin-left: 100px;
  margin-right: 25px;
  float: right;
  width: 400px;
  transform: rotate(-1deg); }