@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


@font-face {
    font-family: 'Dust West';
    src: url('DustWest.eot');
    src: url('DustWest.eot?#iefix') format('embedded-opentype'),
        url('DustWest.woff2') format('woff2'),
        url('DustWest.woff') format('woff'),
        url('DustWest.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'kirstyregular';
    src: url('kirsty_rg-webfont.woff2') format('woff2'),
         url('kirsty_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$header-font: "kirstyregular", serif;
//$header-font: "IM Fell English SC", serif;
$body-font: "Oxanium", serif;
//$body-font: "Open Sans", sans-serif;
$primary-font: "Dust West", sans-serif;
//$primary-font: "Big Shoulders Stencil", sans-serif;
$secondary-font: $body-font;
$script-font: "Caveat", serif;
$script-font2: "Caveat", serif;