@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: "Dust West";
  src: url('dustwest.eot');
  src: url('dustwest.eot') format('embedded-opentype'),
       url('dustwest.woff2') format('woff2'),
       url('dustwest.woff') format('woff'),
       url('dustwest.ttf') format('truetype');
}

$body-font: "Open Sans", sans-serif;
$primary-font: "Dust West", sans-serif;
//$primary-font: "Big Shoulders Stencil", sans-serif;
$secondary-font: $body-font;