/* Muted Rainbow */
$muted-red: #852730;
$muted-orange: #ff8307;
$muted-yellow: #ffc107;
$muted-green: #578c63;
$muted-teal: #3bc4c4;
$muted-blue: #0b5889;
$muted-slate: #4e5294;
$muted-purple: #68459d;
$muted-magenta: #df62ea;
$muted-pink: #fb9dde;

/* Grayscale */
$almost-white: #ebebeb;
$lightest-grey: #dce2e6;
$lighter-grey: #ced3d6;
$light-grey: #7c858a;
$dark-grey: #3a4146;
$darker-grey: #23272a;
$darkest-grey: #171a1c;
$almost-black: #0c0c0c;

$text-on-grey: #B3B3B3;

/* Custom Colors */ 
$near-black: #322E2F;
$unsaturated-blue: #7FAED7;
$custom-maroon: #7D212E;
$custom-sienna: #B94F1B;
$custom-brown: #6E4429;
$dark-green: #515A3F;
$saturated-blue: #00A6FC;
$olive-green: #818846;
$mt-dew-green: #BECA6D;
$blue-gray: #465464;
$wysteria: #675A79;